{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">
                <h1>Gif Catalog</h1>
                {{ msg }} <a href="/" class="btn btn-primary btn-sm">show others...</a>
            </div>
        </div>
        <div class="row">
            {% for pic in gif_pictures %}
                <div class="col-4 mb-4">
                    <div class="card" style="height: 100%;">
                        <img src="{{ pic.gifurl }}" alt="{{ pic.title }}" class="card-img-top"
                             style="height: 200px; object-fit: cover; background: #ddd;">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h4 class="card-title">{{ pic.title }}</h4>
                            <p class="card-text" style="flex-grow: 1"></p>
                            <a href="#" class="btn btn-primary align-self-end">Go</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row">
            <div class="col-12">
                <a href="/" class="btn btn-primary mb-5 w-100">show others...</a>
            </div>
        </div>
    </div>
{% endblock %}